html, body {
    font-family: 'Roboto', sans-serif;
    z-index: 5;
    display: flex;
    min-height: 100vh !important;
    flex-direction: column;
  }
body .background-image  {
    position: absolute;
    background-image: url(backgroundimg.jpg) ;
    background-size: contain !important;
    opacity: 0.3;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}


/* Navbar */

.navbar-style {
    background-color:white;
    
}
.navbar-elements {
    color: #7F7F7F !important;
    font-size: large;
    font-weight: 900;
}

.center-text {
    text-align: center;
}

.add-review-button {
    background-color: #ECA400 !important;
}

.logo-style {
    margin-left: 10px;
}

.brand-logo {
    color: #273F5F !important;
    font-weight: bold !important;
}

.sidenav-trigger i {
    color: #273F5F !important;

}


/* body */

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
}

/* adding reviews page */

.card-new-review{
    padding: 35px;
}

/* editing review card */

.review-edit-card {
    padding: 33px !important;
}

/* adding companies */

.cancel-button a {
    color: white;
    background-color: #273f5f !important;
}
.add-company-button a {
    color: #273F5F;
}

.x-button a {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: xx-large;
    font-weight: 900;
}
/* Review cards */
.dropdown-trigger {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #ECA400;
}

.company-name {
    font-size: 20px !important;
    font-weight: 700;
}

.card {
    background-color: #273F5F;
    margin-top: 33px;
    margin-bottom: 33px;
    border: 1px solid #ECA400;
}

.card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #ECA400 !important;
    font-weight: bold;
}

/* company profile */

.company-profile-card-top {
    border-bottom: 1px solid grey;
}

.company-logo {
    border: 1px solid grey;
    margin-top: 11px;
    text-align: center;
}

.company-icon {
    max-width: 100%;
}

.review-cards {
    margin: 5px;
}

.card-title {
    font-weight: 200px;
}


/* Footer */



main {
    flex: 1 0 auto;
  }
footer {
    background-color: #6e93c4 !important;
    flex-shrink: 0;
    width: 100%;
    padding: 10px;
}