body {
    font-family: 'Roboto', sans-serif;
  }


/* Navbar */

.navbar-style {
    background-color:white;
    
}
.navbar-elements {
    color: #7F7F7F !important;
}

.center-text {
    text-align: center;
}

.add-review-button {
    background-color: #ECA400 !important;
}

.logo-style {
    margin-left: 10px;
}


/* body */

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
}


/* Review cards */
.dropdown-trigger {
    position: absolute;
    right: 10px;
    top: 5px;
    color: gold;
}


