body {
    font-family: 'Roboto', sans-serif;
  }


/* Navbar */

.navbar-style {
    background-color:white;
    
}
.navbar-elements {
    color: #7F7F7F !important;
}

.center-text {
    text-align: center;
}

.add-review-button {
    background-color: #ECA400 !important;
}

.logo-style {
    margin-left: 10px;
}


/* body */

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
}


/* Review cards */
.dropdown-trigger {
    position: absolute;
    right: 10px;
    top: 5px;
    color: gold;
}

/* company profile */

.company-profile-card-top {
    border-bottom: 1px solid grey;
}

.company-logo {
    border: 1px solid grey;
    margin-top: 11px;
    text-align: center;
}

.company-icon {
    max-width: 100%;
}

.review-cards {
    margin: 5px;
}


