{% extends "base.html" %}
{% block content %}

<br>
<h3 class="center-text">Add a new review:</h3>
<br>
<div class="row">
    <div class="col s12 m2 l3"></div>
    <div class="col s12 m8 l6">
        <div class="card white card-new-review">
        <form method="POST" action="" class="">
            <div class="row">
                <div class="col s10">
                    <select id="agency_name" name="agency_name" id="agency_location" name="agency_location"
                        class="validate" required>
                        <option value="" disabled selected>Choose company</option>
                        {% for company in companies %}
                        <option value="{{ company.agency_name }}, {{ company.agency_location }}">
                            {{ company.agency_name }}, {{ company.agency_location }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Modal Trigger -->
                <div class="col s2">Can't find it?
                    <button class="add-company-button"><a class="waves-effect waves-light modal-trigger"
                            href="#modal1">Add new</a>
                    </button>
                </div>
                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <div class="x-button"><a href="#!" onClick="window.parent.location.reload();" class="modal-close waves-effect waves-green btn-flat">X</a>
                        </div>
                        <div class="row">
                            <div class="col sm4"></div>
                            <div class="col sm4">
                                <h4 style="text-align: center !important">Add a new company</h4>
                            </div>
                            <div class="col sm4"></div>
                        </div>
                        <br>
                        <iframe width="750" height="250" src="{{ url_for('add_company') }}" frameborder="0"
                            allowfullscreen></iframe>
                    </div>

                </div>

                <!--  -->
            </div>


            <div class="input-field ">
                <input id="review_title" name="review_title" minlength="5" maxlength="50" class="materialize-textarea"
                    required></input>
                <label for="textarea1">Review title</label>
            </div>
            <div class="input-field">
                <textarea id="review_content" name="review_content" class="materialize-textarea" minlength="5"
                    maxlength="200" required></textarea>
                <label for="textarea1">Write your review here</label>
            </div>
            <button class="btn cancel-button" style="background-color: #273F5F;">
                <a href="{{ url_for('get_reviews') }}">Cancel</a>
            </button>
            <button type="submit" class="waves-effect waves-light btn add-review-button">
                Add Review
            </button>
        </form>
    </div>
    </div>
    <div class="col s12 m2 l3">

    </div>
</div>
<br>
<br>
<br>
<br>
<br>


{% endblock %}