<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate your workplace</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body>

    <header>
        <nav>
            <div class="nav-wrapper navbar-style">
                <a href="#!" class="brand-logo navbar-elements logo-style">
                    Rate Your Workplace!
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    </li>
                    <li><a class="navbar-elements" href="{{ url_for('get_reviews') }}">Home</a></li>
                    <li><a class="navbar-elements" href="{{ url_for('get_companies') }}">List of workplaces</a></li>
                    <li><a class="waves-effect waves-light btn add-review-button" href="{{ url_for('add_review') }}">
                        Add a review <i class="material-icons right">add_circle</i></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
    </ul>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    {% block content%}
    {% endblock %}


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems);
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });
// trying to trigger the modal from the dropdown menu, but it is not working. 
// The button to "add a company" goes to the bottom of the form and it creates bad UX
function triggerModal() {
    var modal = document.getElementById("modal1");
    modal.open(modal)
    console.log()
}
</script>

</html>