<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate your workplace</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body>

    <header>
        <nav>
            <div class="nav-wrapper navbar-style">
                <a href="#!" class="brand-logo navbar-elements logo-style">
                    Rate Your Workplace!
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    </li>
                    <!-- <li><a class="navbar-elements" href="{{ url_for('get_reviews') }}">Home</a></li> -->
                    <!-- <li><a class="navbar-elements" href="{{ url_for('get_companies') }}">List of workplaces</a></li> -->
                    <!-- <li><a class="waves-effect waves-light btn add-review-button" href="{{ url_for('add_review') }}">Add -->
                            <!-- a review <i class="material-icons right">add_circle</i></a></li> -->
                </ul>
            </div>
        </nav>
    </header>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
    </ul>

    {% block content%}
    {% endblock %}


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems);
  });



</script>

</html>