{% extends "base.html" %}
{% block content %}
<br>
<h3 class="center-text">Company Profile:</h3>
<br>
<div class="row">
    <div class="col s3 m2 l3"></div>
    <div class="col s12 m8 l6 card-panel grey lighten-5">
        <div class="company-profile-card-top">
            <div class="row">
                <div class="col s2 m2 l2 company-logo"><i class="medium material-icons company-icon">domain</i></div>
                <div class="col s10 m10 l10">
                    <ul>
                        <li><i class="material-icons">content_paste</i> {{name}}</li>
                        <br>
                        <li><i class="material-icons">location_on</i> {{location}}</li>
                        <br>
                        <li><i class="material-icons">mood</i> Number of postiive reviews:#</li>
                        <br>
                        <li><i class="material-icons">mood_bad</i> Number of negative reviews:#</li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <h5 class="center">Reviews about this workplace:</h5>
        </div>
        {% for review in reviews | reverse %}
        <div class="card grey lighten-1 review-cards">
            <div class="card-content white-text">
                <span class="card-title">{{review.review_title}}
                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger' href='#' data-target='dropdown1'><i
                            class="material-icons">create</i></a>
                    <!-- Dropdown Structure -->
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="{{ url_for('edit_review', review_id=review._id)}}">Edit</a></li>
                        <li><a href="{{ url_for('remove_review', review_id=review._id)}}">Remove</a></li>
                    </ul>
                </span>
                <p>
                {{review.review_content}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col sm12 m2 l3"></div>
</div>
{% endblock %}