{% extends "base.html" %}
{% block content %}
<br>
<h3 class="center-text">Workplaces:</h3>
<br>
{% for agency in agencies %}
<div class="row">
  <div class="col s12 m2 l3"></div>
  <div class="col s12 m8 l6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{agency.agency_name}}
          <!-- Dropdown Trigger -->
        </span>
      </div>
      <div class="card-action">
        <a href="#">See more of this employer</a>
        <a href="#">Add a review for this employer</a>
      </div>
    </div>
  </div>
  <div class="col s12 m2 l3"> </div>
</div>
{% endfor %}
{% endblock %}