{% extends "base.html" %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<h3 class="center-text">Edit company details:</h3>
<br>
    <div class="row">
        <div class="col s12 m2 l3"></div>
        <div class="col s12 m8 l6">
            <form class=" card-panel" method="POST" action="">
              
                <div class="input-field col s6">
                    <i class="material-icons prefix">business</i>
                    <input value="{{ company.agency_name }}" id="agency_name" name="agency_name" minlength="5" maxlength="50" class="validate">
                
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">location_on</i>
                    <input value="{{ company.agency_location }}" id="agency_location" name="agency_location" minlength="5" maxlength="50" class="validate">
                </div>
             

                <button type="submit" class="waves-effect waves-light btn add-review-button">
                    <a href="{{ url_for('get_companies') }}">
                        Update <i class="fas fa-plus-square right"></i>
                    </a>
                </button>
            </form>
        </div>
        <div class="col s12 m2 l3"></div>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}