<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" type="text/css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
    
</head>
<body>
  <div>
    <nav>
        <div class="nav-wrapper navbar-color">
          <a href="#" class="brand-logo">Rate your workplace</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a  href="">Home</a></li>
            <li><a  href="">List of Workplaces</a></li>
          </ul>
        </div>
      </nav>
  </div>



    {% for review in Reviews %}
        {{review.title}}
        {{review.content}}
    {% endfor %}
</body>
</html>